*.diag
*.mod
*.o
*.param
*.pyc
*.cxx
*.sf.*
*.su.*
*.restart
*.timing
*~
*.so
*.ascii.*
*.column.*
Parameters.py
SimUnits.py
Sph.py
SphSim.py
SphSnap.py
toymain
.cproject
.project
.pydevproject
.settings
Untitled.build
gandalf
