*.diag
*.mod
*.o
*.d
*.param
*.pyc
*.cxx
*.sf.*
*.slite.*
*.su.*
*.mp4
*.mpeg
*.png
*.restart
*.timing
*~
*.so
*.ascii.*
*.column.*
Parameters.py
SimUnits.py
Sph.py
SphSim.py
SphSnap.py
toymain
.cproject
.project
.pydevproject
.settings
Untitled.build
gandalf
